.footer {
    margin-top: $section-margin;
    background-color: #e1ede6;
    padding: 1.3rem 0;

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // gap: 10.4rem;
        gap: 3.2rem;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p:nth-child(1) {
            font-size: 1.11rem;
        }

        p:nth-child(2) {
            color: $font-light-grey;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        width: 73%;
        gap: 3.2rem;

    }

    &__navigation {
        display: flex;
        // gap: 3.2rem;
        width: 100%;
        max-width: 445px;
        justify-content: space-between;
        gap: 1.3rem;
    }

    &__nav-item {
        a {
            color: $font-light-grey;
            padding-top: 6px;
            line-height: 150%;
        }
        
        a:hover {
            color: #598d66;
        }

        a:focus {
            background-color: $light-green;
            color: $font-green;
        }
    }
}

.socials {
    ul {
        display: flex;
        gap: 30px;
        padding-bottom: 0.55rem;
    }

    p {
        font-size: 0.66rem;
        color: $font-light-grey;
    }

    p:nth-child(2) {
        padding-bottom: 0.33rem;
    }

    svg:active {
        fill: $dark-green;
    }
}

.contacts {
    a {
        padding-bottom: 0.44rem;
    }
}

.facebook {
    padding: 3px;
}