.header {
    background-color: #e1ede6;
    padding: $header-padding;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        img {
            max-width: 7.94rem;
        }
    }

    ul {
        display: flex;
        align-items: center;
        gap: 3.33rem;
    }

    a {
        font-size: 1.11rem;
    }
}