// fonts
$font: 'Raleway-Medium', sans-serif;
$font-black: #2c2d35;
$font-light-grey: hsl(145, 5%, 55%);
$font-green: #598d66;
$font-white: #F4F6F5;

// padding
$header-padding: 1.83rem 0;
$card-padding: 1.11rem 1.11rem 1.67rem 1.11rem;

// margins
$section-margin: 3.89rem;

// colors
$light-green: #d4e8d9;
$card-background: #e1ede6;
$dark-gold: #A38314;
$dark-green: #376B44;
$dark-yellow: #D9B949;

// breakpoints
$breakpoint-pc: 1920px;
$breakpoint-laptop: 992px;
$breakpoint-big-tablet: 650px;
$breakpoint-tablet: 511px;
$breakpoint-mobile: 320px;